language: c
sudo: required
dist: trusty

services:
  - docker

env:
  - OS=debian
  - OS=debian-s390x
  - OS=fedora
  - OS=fedora-w64

before_script:
  - docker build -t libjcat-${OS} -f contrib/ci/Dockerfile-${OS} .

script:
  - docker run -t -v `pwd`:/build libjcat-${OS} ./contrib/ci/build-${OS}.sh

